.logo {
  font-family: "Great Vibes", cursive;
  font-size: 1.5em;
  font-weight: bold;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  max-width: 500px;
  margin: auto;
}

.site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item-images {
  height: 80vh;
  width: 80vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero {
  background-image: url("/assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero .container {
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .container h1 {
  font-size: 7em;
  font-family: "Great Vibes", cursive;
}

.hero .container h2 {
  margin-top: -17px;
  font-size: 1.7em;
  text-align: center;
  font-weight: 400;
}

.hero .container a {
  margin-top: 20px;
  font-size: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
}

.hero .container .btn {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  border: 4px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.hero .container .btn:hover,
.hero .container .btn:active {
  background-color: #fff;
  color: #000;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

@media only screen and (max-width: 540px) {
  .hero .container h1 {
    font-size: 5em;
    float: right;
  }
  .hero .container h2 {
    font-size: 1.4em;
    float: right;
  }
  .hero .container .button--is-info--is-rounded--has-text-centered {
    float: right;
  }
}

.footer {
  padding: 2rem 1.5rem 2rem;
}

.card-images {
  height: 150px;
  padding-top: 1em;
}

.bm--card-equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.bm--card-equal-height .card-footer {
  margin-top: auto;
}

.quantity {
  position: relative;
}

.quantity input {
  width: 50px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.quantity-button--up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button--down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
/*# sourceMappingURL=main.css.map */