<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Copyright 2020</strong> by Shawn Saj, Layton Avery, Andres Corredor
    </p>
  </div>
</footer>

<script src="/js/main.js"></script>