<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Copyright 2020</strong> by Shawn Saj, Layton Avery, Andres Corredor, and Tyler Gilchrist
    </p>
  </div>
</footer>