<nav class="navbar is-white">
  <div class="navbar-brand">
    <a href="#" class="navbar-item">
      <h1 class="logo">Sahara</h1>
    </a>
    <a class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="navbar-menu" id="nav-links">
    <div class="navbar-start">
      <a href="/products" class="navbar-item">All</a>
      <a href="/products/water" class="navbar-item">Water</a>
      <a href="/products/tea" class="navbar-item">Tea</a>
    </div>

    <div class="navbar-end">
      <a href="/account/address" class="navbar-item">My Account</a>
      <a href="#" class="navbar-item">Cart</a>
    </div>
  </div>
</nav>

