<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
    <title>Water</title>
  </head>

  <body class="site">
    {{> menu}}

    <div class="content">
      <h3>Your saved addresses</h3>
      <ol>
        <li>{{#addresses}}
          {{address}}
          {{city}}
          {{state}}
          {{postcode}}
          {{/addresses}}
        </li>
        <li>Cras gravida arcu at diam gravida gravida.</li>
      </ol>
    </div>
    
    <a href="/account/add-address"><button>Add Address</button></a>

    {{> footer}}
  </body>
</html>
