<!DOCTYPE html>
<html lang="en">

<head>
  {{> header}}
  <title>Water</title>
</head>

<body class="site">
  {{> menu}}

  <main class="site-content">
    <div class="content">
      <h3>Your saved addresses</h3>
      <ol>
        {{#addresses}}
        <li>
          {{address}}
          {{city}}
          {{state}}
          {{postcode}}

        </li>
        {{/addresses}}
      </ol>
    </div>

    <a href="/account/add-address"><button>Add Address</button></a>
  </main>

  {{> footer}}
</body>

</html>