<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>Document</title>
</head>

<body class="site">
    {{> menu}}

    <main class="site-content">
        
        <h2>My Cart</h2>
        <div></div>

    </main>
    
    {{> footer}}
</body>

</html>