<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>Document</title>
</head>

<body class="site">
    {{> menu}}

    <main class="site-content">
            <section class="section">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="tabs is-boxed">
                                <ul>
                                    <li class="is-active">
                                        <a>Cart</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="px-2" id="tab-content">

                                <section class="section">
                                    <div class="container">

                                                <section class="section">
                                                    <div class="container">
                                                        <div class="columns mt-5 is-8 is-variable is-multiline">
                                                            {{#cartItems}}
                                                            <div class="column is-4-tablet is-3-desktop">
                                                                <div class="card bm--card-equal-height">
                                                                    <div class="card-image has-text-centered px-6">
                                                                        <img src="{{image}}" alt="item" class="card-images"/>
                                                                    </div>
                                                                    <div class="card-content">
                                                                        <p class="title is-size-5 has-text-centered">
                                                                            {{name}}</p>
                                                                        <p class="has-text-centered">${{price}}</p>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            {{/cartItems}}
                                                        </div>
                                                    </div>
                                                    
                                                </section>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary is-vcentered">Checkout</button>
            </section>

    </main>

    {{> footer}}
</body>

</html>

