<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
    <title>Sahara</title>
  </head>

  <body class="site">
    {{> menu}}
    <main class="site-content">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1>Sahara</h1>
          <h2 class="has-text-weight-light">Find Your Oasis</h2>
          <a href="/login" class="btn">Login</a>
        </div>
      </div>
    </section>
  </main>
  
  {{> footer}}
  </body>
</html>
