<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
    <title>Document</title>
  </head>

  <body class="site">
    {{> menu}}

    <main class="site-content">
      <section class="section">
        <div>
          <div>
            {{#product}}
            <div>
              <img
                src="{{ image }}"
                alt="item"
                class="item-images"
                ALIGN="left"
                HSPACE="50"
              />
            </div>
            <div>
              <div class="card-images">
                <h1>{{ name }}</h1>
                <h2>${{ price }}</h2>
                <form method="POST" action="#">
                  <input type="hidden" value="{{ id }}" name="productId" />
                  <button class="button is-info is-rounded has-text-centered">
                    Add to Cart
                  </button>
                </form>
              </div>
            </div>
            {{/product}}
          </div>
        </div>
      </section>
    </main>

    {{> footer}}
  </body>
</html>
