<!DOCTYPE html>
<html lang="em">
  <head>
    {{> header}}
  </head>

  <body>
    {{> menu}}
    <form method="POST" action="/login/register">
      <div class="field">
    <div class="control is-medium is-loading">
        <input class="input is-medium" name= "username" type="text" placeholder="Username">
    </div>

    <div class="field">
    <div class="control is-medium is-loading">
        <input class="input is-medium" name="password" type="password" placeholder="Password">
        <button>Register</button>
    </div>
    

      <!-- <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" name="password" />
      <button>Register</button> -->
    </form>
    {{> footer}}
  </body>
</html>